<div class="calc-form">
  <div class="type-switch-container">
    <button
      class="switch-btn"
      [class.active]="calcDataService.immoDataSignal().objektTyp === 'haus'"
      (click)="calcDataService.updateValue('objektTyp', 'haus')"
    >
      🏡 HAUS
    </button>
    <button
      class="switch-btn"
      [class.active]="calcDataService.immoDataSignal().objektTyp === 'wohnung'"
      (click)="calcDataService.updateValue('objektTyp', 'wohnung')"
    >
      🏢 WOHNUNG
    </button>
  </div>
  <h1>Objekt & Finanzierung</h1>
  <app-input-container
    inputName="Eigenkapital (€)"
    [placeHolderValue]="1000000"
    [value]="calcDataService.immoDataSignal().eigenkapital"
    (valueChange)="calcDataService.updateValue('eigenkapital', $event)"
  ></app-input-container>

  <div class="question-row">
    <span class="question-label">Kaufnebenkosten mit Eigenkapital decken?</span>
    <div class="toggle-group">
      <span
        class="toggle-text"
        [class.active]="!calcDataService.immoDataSignal().eigenkapitalMitKaufnebenkostenDecken"
        >Nein</span
      >

      <mat-slide-toggle
        color="primary"
        [checked]="calcDataService.immoDataSignal().eigenkapitalMitKaufnebenkostenDecken"
        (change)="
          calcDataService.updateValue('eigenkapitalMitKaufnebenkostenDecken', $event.checked)
        "
      ></mat-slide-toggle>

      <span
        class="toggle-text"
        [class.active]="calcDataService.immoDataSignal().eigenkapitalMitKaufnebenkostenDecken"
        >Ja</span
      >
    </div>
  </div>

  <app-input-container
    inputName="Kaufpreis (€)"
    [placeHolderValue]="578000"
    [value]="calcDataService.immoDataSignal().kaufpreis"
    (valueChange)="calcDataService.updateValue('kaufpreis', $event)"
  ></app-input-container>
  <app-input-container
    inputName="Wohnfläche (m²)"
    [placeHolderValue]="280"
    [value]="calcDataService.immoDataSignal().wohnflaeche"
    (valueChange)="calcDataService.updateValue('wohnflaeche', $event)"
  ></app-input-container>
  <app-input-container
    inputName="Miete/m² (€)"
    [placeHolderValue]="8.5"
    [value]="calcDataService.immoDataSignal().mieteProQm"
    (valueChange)="calcDataService.updateValue('mieteProQm', $event)"
  ></app-input-container>
  <h1>Instandhaltung</h1>
  <app-input-container
    inputName="Hausgeld (gesamt)"
    [placeHolderValue]="200"
    [value]="calcDataService.immoDataSignal().hausgeld"
    (valueChange)="calcDataService.updateValue('hausgeld', $event)"
  ></app-input-container>

  <div class="slider-container" *ngIf="calcDataService.immoDataSignal().objektTyp == 'wohnung'">
    <app-input-container
      inputName="Nicht umlagefähig (%)"
      [placeHolderValue]="30"
      [value]="calcDataService.immoDataSignal().hausgeldNichtUmlagefaehigProzentaneil"
      [higlightTitle]="!calcDataService.immoDataSignal().hausgeldNichtUmlagefaehigisEingabe"
      (valueChange)="calcDataService.updateValue('hausgeldNichtUmlagefaehigProzentaneil', $event)"
    ></app-input-container>
    <mat-slide-toggle
      color="primary"
      class="example-margin"
      [checked]="calcDataService.immoDataSignal().hausgeldNichtUmlagefaehigisEingabe"
      (change)="calcDataService.updateValue('hausgeldNichtUmlagefaehigisEingabe', $event.checked)"
      [disabled]="false"
    >
    </mat-slide-toggle>
    <app-input-container
      inputName="Nicht umlagefähig (€)"
      [placeHolderValue]="60"
      [value]="calcDataService.immoDataSignal().hausGeldNichtUmlagefaehigEingabe"
      [higlightTitle]="calcDataService.immoDataSignal().hausgeldNichtUmlagefaehigisEingabe"
      (valueChange)="calcDataService.updateValue('hausGeldNichtUmlagefaehigEingabe', $event)"
    ></app-input-container>
  </div>
  <div
    *ngIf="
      calcDataService.resultImmoDataSignal().hausGeldNichtUmlagefaehigWarning &&
      calcDataService.immoDataSignal().hausgeldNichtUmlagefaehigisEingabe &&
      calcDataService.immoDataSignal().objektTyp === 'wohnung'
    "
    class="warning-box"
  >
    <span class="warning-icon">⚠️</span>
    <span>Das nicht umlagefähige Hausgeld darf nicht höher sein als das gesamte Hausgeld.</span>
  </div>
  <div class="slider-container">
    <app-input-container
      inputName="€ Pro QM"
      [placeHolderValue]="2.0"
      [value]="calcDataService.immoDataSignal().instandhaltungProQw"
      [higlightTitle]="!calcDataService.immoDataSignal().instandhaltungisPauschal"
      (valueChange)="calcDataService.updateValue('instandhaltungProQw', $event)"
    ></app-input-container>
    <mat-slide-toggle
      color="primary"
      class="example-margin"
      [checked]="calcDataService.immoDataSignal().instandhaltungisPauschal"
      (change)="calcDataService.updateValue('instandhaltungisPauschal', $event.checked)"
      [disabled]="false"
    >
    </mat-slide-toggle>
    <app-input-container
      inputName="€ Pauschal"
      [placeHolderValue]="300"
      [value]="calcDataService.immoDataSignal().instandhaltungPauschal"
      [higlightTitle]="calcDataService.immoDataSignal().instandhaltungisPauschal"
      (valueChange)="calcDataService.updateValue('instandhaltungPauschal', $event)"
    ></app-input-container>
  </div>
  <h1>Bank</h1>
  <app-input-container
    inputName="Zinssatz (%)"
    [placeHolderValue]="4"
    [value]="calcDataService.immoDataSignal().zinssatz"
    (valueChange)="calcDataService.updateValue('zinssatz', $event)"
  ></app-input-container>
  <app-input-container
    inputName="Tilgung (%)"
    [placeHolderValue]="1.5"
    [value]="calcDataService.immoDataSignal().tilgung"
    (valueChange)="calcDataService.updateValue('tilgung', $event)"
  ></app-input-container>
  <h1>Kaufnebenkosten</h1>
  <app-input-container
    inputName="Grunderwerbsteuer (%)"
    [placeHolderValue]="5"
    [value]="calcDataService.immoDataSignal().grunderwerbsteuer"
    (valueChange)="calcDataService.updateValue('grunderwerbsteuer', $event)"
  ></app-input-container>
  <app-input-container
    inputName="Notar & Grundbuch (%)"
    [placeHolderValue]="2"
    [value]="calcDataService.immoDataSignal().notarUndGrundbuch"
    (valueChange)="calcDataService.updateValue('notarUndGrundbuch', $event)"
  ></app-input-container>
  <app-input-container
    inputName="Maklerprovision (%)"
    [placeHolderValue]="4.2"
    [value]="calcDataService.immoDataSignal().maklerprovision"
    (valueChange)="calcDataService.updateValue('maklerprovision', $event)"
  ></app-input-container>

  <button (click)="onClickbuttonCalc()">BERECHNEN</button>
</div>
