<div class="todo-container">
  <p>To-do list</p>
  <app-todo-list
    *ngFor="let item of todoService.headings()"
    [heading]="item"
    [todos]="todoService.groupedTodos()[item]"
  ></app-todo-list>
  <div class="button-widgets">
    <button (click)="onAddsClick()">
      <mat-icon fontSet="material-icons-outlined" class="pin-icon">add</mat-icon>
    </button>
    <button>
      <mat-icon (click)="onAppsClick()" fontSet="material-icons-outlined" class="pin-icon"
        >apps</mat-icon
      >
    </button>

    <div *ngIf="appsVisible()" class="button-apps">
      <button>
        <mat-icon fontSet="material-icons-outlined" class="pin-icon">sim_card_download</mat-icon>
      </button>
      <button>
        <mat-icon fontSet="material-icons-outlined" class="pin-icon">download</mat-icon>
      </button>
      <button (click)="onSortClick()">
        <mat-icon fontSet="material-icons-outlined" class="pin-icon">sort</mat-icon>
      </button>
    </div>
  </div>
</div>
